// Colors
$color1: rgb(135, 80, 156);
$color2: rgb(23, 194, 164);
$color3: rgb(231, 241, 248);
$color4: rgb(255, 221, 153);
$color5: rgb(215, 70, 128);
$color6: rgb(60, 84, 153);
$color7: rgb(235, 125, 75);
$color8: rgb(48, 186, 231);

$color-background-footer: rgb(52, 75, 142);

$color-grey: rgb(120, 120, 120);
$color-light-grey: rgb(223, 223, 223);

$color-primary: $color1;
$color-accent: $color2;
$color-background: white;
$color-text: rgb(60, 71, 97);
$color-text-dark: rgb(57, 57, 57);
$color-text-link: inherit;
$color-text-link-hover: $color8;
$color-semi-transparent: rgba(black, 0.4);
$color-shadow: rgba(black, 0.2);
