// Fonts
$font-size-xx-small: 12px;
$font-size-x-small: 13px;
$font-size-small: 14px;
$font-size-regular: 18px;
$font-size-large: 20px;
$font-size-x-large: 26px;
$font-size-xx-large: 32px;
$font-size-xxx-large: 44px;
$font-size-xxxx-large: 64px;
$font-size-modificator: 2px;
$base-font-family : "Titillium Web", Arial, sans-serif;
$mono-font-family: monospace, monospace;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$base-line-height: 1.2;
